<%- include('../includes/header_admin') %>

   

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Responsable</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste</li>
                    </ol>
                </nav>

                <table class="table table-striped" id="liste_responsable">
                    <thead class="bg-success text-white">
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="cool">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0; i<employes.length;i++){%>

                            <%if(employes[i].user.status==false){%>
                                <tr>
                                    <td class="text-danger"><%=employes[i].user.role.description%></td>
                                    <td> <a href="/modification/equipe/<%=employes[i]._id%>"><%=employes[i].name%></a> </td>
                                    <td> <a href="/modification/equipe/<%=employes[i]._id%>"><%=employes[i].email%></a> </td></td>
                                    <td class="text-danger"><%=employes[i].contact%></td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning
                                                dropdown-toggle"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Plus
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" onclick='actived(<%=JSON.stringify(employes[i].user._id)%>)' href="#">Activer</a></li>
                                                <li><a class="dropdown-item" href="/modification/equipe/<%=employes[i]._id%>">Modifier</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item text-danger"
                                                        href="#">Rétiré</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <%} else {%>
                                <tr>
                                    <td><%=employes[i].user.role.description%></td>
                                    <td> <a href="/modification/equipe/<%=employes[i]._id%>"><%=employes[i].name%></a> </td>
                                    <td> <a href="/modification/equipe/<%=employes[i]._id%>"><%=employes[i].email%></a> </td></td>
                                    <td><%=employes[i].contact%></td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning
                                                dropdown-toggle"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Plus
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" onclick='desactived(<%=JSON.stringify(employes[i].user._id)%>)' href="#">Désactiver</a></li>
                                                <li><a class="dropdown-item" href="/modification/<%=employes[i]._id%>/equipe">Modifier</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item text-danger"
                                                        href="#">Rétiré</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <%}%>
                        
                        <%}%>
                        
                        <!--<tr>
                            <th scope="row">2</th>
                            <td>Responsable financier</td>
                            <td>M. Tonton</td>
                            <td>tonton-financier@responsable.com</td>
                            <td>034 55 222 33/ 032 11 222 11</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning
                                        dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Plus
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Désactiver/Activer</a></li>
                                        <li><a class="dropdown-item" href="#">Modifier</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-danger"
                                                href="#">Rétiré</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Responsable atelier</td>
                            <td>M. Rafaël</td>
                            <td>rafael-atelier@responsable.com</td>
                            <td>034 55 222 33/ 032 11 222 11</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning
                                        dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Plus
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Désactiver/Activer</a></li>
                                        <li><a class="dropdown-item" href="#">Modifier</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-danger"
                                                href="#">Rétiré</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div>
        <%- include('../includes/footer_admin') %>