<%- include('../../../includes/header_responsable_financier') %>

    <div class="container-fluid content pt-5 bg-gradient-primary">
        <div class="row">
            <h2 class="text-white">Liste des dépenses</h2>
            <div class="col-md-8 no_dataTable">
                <div id="show_modal_depense"></div>
                <table class="table table-hover" id="list_sujet_depense_financier">
                    <thead class="">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="show_list_data_depense">
                       
                        <%for(var id=0;id<depenses.length;id++){%>
                            <tr>
                                <td><%=depenses[id].description%></td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success
                                            dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Plus
                                        </button>
                                        <ul class="dropdown-menu">
                                             <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ex<%=depenses[id]._id%>">Modifier</a></li>
                                            <li><a class="dropdown-item" href="#" onclick='delete_depense(<%=JSON.stringify(depenses[id]._id)%>)'>Supprimer
                                             </a></li>
                                        
                                            </ul>
                                    </div>
                                </td>
                            </tr>

                            <div class="modal fade" id="ex<%=depenses[id]._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1"
                                                class="form-label">Description <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" value="<%=depenses[id].description%>" id="description<%=depenses[id]._id%>" name="description<%=depenses[id]._id%>" />
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                      <button type="button" class="btn btn-primary" onclick='edit_depense(<%=JSON.stringify(depenses[id]._id)%>)' data-bs-dismiss="modal">Modifier</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        <%}%>
                           
                            
                    </table>
            </div>
            <div class="col-md-4">
                <div class=" shadow p-3 mb-5 bg-body rounded" >
                <div class="mb-3">
                    <label for="exampleFormControlInput1"
                        class="form-label">Description <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="description" name="description" />
                </div>
               
                <button id="save_new_depense" onclick="save_new_depense()" class="btn btn-success">Enregistrer</button>
            </div>

            </div>
        </div>
    </div>
    <%- include('../../../includes/footer_responsable_financier') %>