<%- include('../../includes/header_responsable_atelier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Réparation terminer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste</li>
                    </ol>
                </nav>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                <table class="table table-striped" id="list_reparation_enCour">
                    <thead class="bg-success text-white">
                        <tr>
                            <th scope="col">Déposition</th>
                            <th scope="col">Sortie</th>
                            <th scope="col">Voiture</th>
                            <th scope="col">Matricule</th>
                            <th scope="col">Client</th>
                            <th scope="col">Estimation</th>
                            <th scope="cool">Montant</th>
                            
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var id=0;id<reparations.length;id++){%>
                            <tr>
                                <td><%=moment(reparations[id].data.createdAt)%></td>
                                 <td>---(static)</td>
                                <td><%=reparations[id].data.voiture.description%></td>
                                <td><%=reparations[id].data.voiture.matricule%></td>
                                <td> <div>
                                        <p><%=reparations[id].data.voiture.client.name+" "+reparations[id].data.voiture.client.username%><br>
                                            <%=reparations[id].data.voiture.client.email%> <br>
                                            <%=reparations[id].data.voiture.client.contact%>
                                        </p>
                                    </div>
                                </td>
                                <td><%=reparations[id].pourcentage%>%</td>
                               <td>montant(static)</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success
                                            dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Plus
                                        </button>
                                        <ul class="dropdown-menu">
                                             <li><a class="dropdown-item" href="/etat-davancement/<%=reparations[id].data._id%>">L'état d'avancement</a></li>
                                             <li><a class="dropdown-item" href="#">Valider la sortie</a></li>
                                            </ul>
                                    </div>
                                </td>
                            </tr>
                        <%}%>

                        <!--<tr>
                            <td>1</td>
                            <td>12/11/2022</td>
                            <td>...</td>
                            <td>V-8</td>
                            <td>TBH-987645</td>
                            <td>8888-5577-8765-34566</td>
                            <td> <div>
                                <p>M. Raphaël <br>
                                    rafael-atelier@responsable.com <br>
                                    034 55 222 33/ 032 11 222 11
                                </p>
                            </div>
                        </td>
                        <td>
                            100%
                        </td>
                        <td> 900 000 Ar</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success
                                    dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Plus
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">L'état d'avancement</a></li>
                                    <li><a class="dropdown-item" href="#">Valider la sortie</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Facture</a></li>
                                </ul>
                            </div>
                        </td>
                          
                            
                        </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>12/11/2022</td>
                            <td>13/11/2022</td>
                            <td>V-8</td>
                            <td>TBH-987645</td>
                            <td>8888-5577-8765-34566</td>
                            <td> <div>
                                <p>M. Raphaël <br>
                                    rafael-atelier@responsable.com <br>
                                    034 55 222 33/ 032 11 222 11
                                </p>
                            </div>
                        </td>
                        <td>
                            99%
                        </td>
                        <td> 900 000 Ar</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success
                                    dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Plus
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">L'état d'avancement</a></li>
                                    <li><a class="dropdown-item" href="#">Valider la sortie</a></li>
                                </ul>
                            </div>
                        </td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div>
        <%- include('../../includes/footer_responsable_atelier') %>