<%- include('../../includes/header_responsable_atelier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Voiture réceptionner</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste</li>
                    </ol>
                </nav>

                <table class="table table-striped" id="list_reparation_receptionner">
                    <thead class="bg-success text-white">
                        <tr>
                            <th scope="col">Déposition</th>
                            <th scope="col">Voiture</th>
                            <th scope="col">Matricule</th>
                            <!--<th scope="cool">N°série</th>-->
                            <th scope="cool">Genre</th>
                            <th scope="col">Client</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var id=0;id<receptionners.length;id++){%>
                            <tr>
                                <td><%=moment(receptionners[id].createdAt).format('DD MMMM YYYY')%></td>
                                <td><%=receptionners[id].voiture.description%></td>
                                <td><%=receptionners[id].voiture.matricule%></td>
                                <!--<td><%=receptionners[id].voiture.num_serie%></td>-->
                                <td> <span class="text-primary"><%=receptionners[id].voiture.genre%></span></td>
                                <td> <div>
                                        <p><%=receptionners[id].voiture.client.name+" "+receptionners[id].voiture.client.username%><br>
                                            <%=receptionners[id].voiture.client.email%> <br>
                                            <%=receptionners[id].voiture.client.contact%>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success
                                            dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Plus
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/diagnostic/<%=receptionners[id]._id%>">Faire des diagnostics</a></li>
                                             <li><a class="dropdown-item" href="/etat-davancement/<%=receptionners[id]._id%>">L'état d'avancement</a></li>
                                            </ul>
                                    </div>
                                </td>
                            </tr>
                        <%}%>
                        
                       
                    </table>
                </div>
            </div>
        </div>
        <%- include('../../includes/footer_responsable_atelier') %>