<%- include('../../includes/header_responsable_atelier') %>

    <div class="container-fluid content bg-gradient-primary">
        <div class="row">
            <div class="header pb-4 pt-4 pt-md-4">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-6">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Voitures réceptionées
                                                </h5>
                                                <span class="h2 font-weight-bold mb-0"><%=receptionners.length%></span>
                                            </div>
                                            <div class="col-auto">
                                                <div
                                                    class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                    <i class="fas fa-chart-bar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>
                                                3.48%</span>
                                            <span class="text-nowrap">Since last month</span>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3">
                <table class="table table-hover" id="list_reparation_receptionner">
                    <thead class="">
                        <tr>
                            <th scope="col">Déposition</th>
                            <th scope="col">Voiture</th>
                            <th scope="col">Matricule</th>
                            <!--<th scope="cool">N°série</th>-->
                            <th scope="cool">Genre</th>
                            <th scope="col">Client</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var id=0;id<receptionners.length;id++){%>
                            <tr>
                                <td><%=moment(receptionners[id].createdAt).format('DD MMMM YYYY')%></td>
                                <td><%=receptionners[id].voiture.description%></td>
                                <td><%=receptionners[id].voiture.matricule%></td>
                                <!--<td><%=receptionners[id].voiture.num_serie%></td>-->
                                <td> <span class="text-primary"><%=receptionners[id].voiture.genre%></span></td>
                                <td> <div>
                                        <p><%=receptionners[id].voiture.client.name+" "+receptionners[id].voiture.client.username%><br>
                                            <%=receptionners[id].voiture.client.email%> <br>
                                            <%=receptionners[id].voiture.client.contact%>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success
                                            dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Plus
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/diagnostic/<%=receptionners[id]._id%>">Faire des diagnostics</a></li>
                                             <li><a class="dropdown-item" href="/etat-davancement/<%=receptionners[id]._id%>">L'état d'avancement</a></li>
                                            </ul>
                                    </div>
                                </td>
                            </tr>
                        <%}%>
                        
                       
                    </table>
                </div>
            </div>
        </div>
        <%- include('../../includes/footer_responsable_atelier') %>