<%- include('../../includes/header_responsable_atelier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Facture
                                </a></li>
                        <li class="breadcrumb-item"><a href="/"><%=detail.voiture.description%></a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">detail
                        </li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <h2>Facture</h2>
               
                <div>
                    <h5>Nom e l'entreprise</h5>
                    <h5>Adresse</h5>
                    <h5>Contact:032 22 111 33</h5>
                    <h5>Email:email@gmail.com</h5>
                </div>
                <div class="mt-5">
                    <h6 for="exampleFormControlInput1" class="form-label">Client:
                        <span>Nom_client</span></h6>
                    <h6 for="exampleFormControlInput1" class="form-label">N°
                        Client: <span><%=detail.voiture.client.name+" "+detail.voiture.client.name%></span></h6>
                        <h6 for="exampleFormControlInput1" class="form-label">
                            Contact: <span><%=detail.voiture.client.contact%></span></h6>
                            <h6 for="exampleFormControlInput1" class="form-label">
                                Email: <span><%=detail.voiture.client.email%></span></h6>
                </div>

            </div>

            <div class="col-md-4">
                <div class="d-flex justify-content-end">
                    <img src="/logo/logo.png" width="120px"
                    height="120px" class="img-fluidr" alt="">
                </div>
               
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">N° facture*:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=moment(detail.facture.num_facture).format('DD MMMM YYYY')%></label>
                </div>
                <span class="text-danger" id="facture_error"></span>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        de la facture*:</label>
                        <label for="exampleFormControlInput1" class="form-label"><%=moment(detail.facture.invoice_date).format('DD MMMM YYYY')%></label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        d'éxpiration*:</label>
                        <label for="exampleFormControlInput1" class="form-label"><%=moment(detail.facture.due_date).format('DD MMMM YYYY')%></label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Mode de paiement*:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=detail.facture.paiement%></label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Véhicule:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=detail.voiture.description%></label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Matricule:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=detail.voiture.matricule%></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Unité</th>
                            <th scope="col">PU HT</th>
                            <th scope="col">Totale HT</th>
                            <th scope="col">TVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var id=0;id<diagnostiques.length;id++){%>
                            <tr>
                                <td> <%=diagnostiques[id].title%> </td>
                                <td><%=diagnostiques[id].qte%></td>
                                <td><%=diagnostiques[id].unite%></td>
                                <td><%=diagnostiques[id].pu%>Ar</td>
                                <td><%=(diagnostiques[id].pu*diagnostiques[id].qte)%>Ar</td>
                                <td><%=diagnostiques[id].tva%>%</td>
                            </tr>

                        <%}%>
                        <!--<tr>
                            <td>File à Air</td>
                            <td>30</td>
                            <td>pce.</td>
                            <td>2000 Ar</td>
                            <td>6000 Ar</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td>30</td>
                            <td>pce.</td>
                            <td>2000 Ar</td>
                            <td>6000 Ar</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td>30</td>
                            <td>pce.</td>
                            <td>2000 Ar</td>
                            <td>6000 Ar</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td>30</td>
                            <td>pce.</td>
                            <td>2000 Ar</td>
                            <td>6000 Ar</td>
                            <td>10%</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-md-4">
             
                <table class="table table-bordered">
                    <tbody>
                       
                        <tr>
                            <td>Total HT</td>
                            <td><%=montant.totaleHT%>Ar</td>
                        </tr>
                        <%for(var id=0;id<montant.tabTva.length;id++){ %>
                            <tr>
                                <td><%=montant.tabTva[id].description%></td>
                                <td><%=montant.tabTva[id].totaleTva%>Ar</td>
                            </tr>
                        <%}%>
            
                        <tr>
                            <td>Total TTC</td>
                            <td><%=(montant.totaleTTC)%>Ar</td>
                        </tr>
                      
                        <!--<tr>
                            <td>Total HT(mbol static)</td>
                            <td>200 Ar</td>
                        </tr>
                        <tr>
                            <td>TVA 20%</td>
                            <td>200 Ar</td>
                        </tr>
                        <tr>
                            <td>TVA 10%</td>
                            <td>200 Ar</td>
                        </tr>
                        <tr>
                            <td>Total TTC</td>
                            <td>2000 Ar</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!--<p>Conditions de paiement: 30% à la commande, paiement à réception de facture</p>-->
                <!--<p>Mode de paiement: <span>par virement du chèque</span></p>-->

                <p class="mt-3">
                    Nous vous remercions de votre confiance. <br>
                    Cordialement
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <p>NIF:nif-0000000</p>
                <p>STAT:stat-00000000</p>
                <p>RCS:rcs-0000000000</p>
                <p>CIF:cif-00000000000</p>
            </div>
        </div>


        <%-
            include('../../includes/footer_responsable_atelier')
            %></div>