<%- include('../../includes/header_responsable_financier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Reparation</a></li>
                        <li class="breadcrumb-item"><a href="/"><%=detail.voiture.description%></a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">Nouveau facture
                        </li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <h2>Facture</h2>
               
                <div>
                    <h5>Nom e l'entreprise</h5>
                    <h5>Adresse</h5>
                    <h5>Contact:032 22 111 33</h5>
                    <h5>Email:email@gmail.com</h5>
                </div>
                <div class="mt-5">
                    <h6 for="exampleFormControlInput1" class="form-label">Client:
                        <span>Nom_client</span></h6>
                    <h6 for="exampleFormControlInput1" class="form-label">N°
                        Client: <span><%=detail.voiture.client.name+" "+detail.voiture.client.name%></span></h6>
                        <h6 for="exampleFormControlInput1" class="form-label">
                            Contact: <span><%=detail.voiture.client.contact%></span></h6>
                            <h6 for="exampleFormControlInput1" class="form-label">
                                Email: <span><%=detail.voiture.client.email%></span></h6>
                </div>

            </div>

            <div class="col-md-4">
                <div class="d-flex justify-content-end">
                    <img src="/logo/logo.png" width="120px"
                    height="120px" class="img-fluidr" alt="">
                </div>
               
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">N° facture*:</label>
                    <input type="text" class="form-control"
                        id="facture" placeholder="n° facture">
                </div>
                <span class="text-danger" id="facture_error"></span>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        de la facture*:</label>
                    <input type="date" class="form-control"
                        id="invoice_date">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        d'éxpiration*:</label>
                    <input type="date" class="form-control"
                        id="due_date">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Mode de paiement*:</label>
                    <input type="text" class="form-control" placeholder="Mode de paiement"
                        id="paiement">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Véhicule:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=detail.voiture.description%></label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Matricule:</label>
                    <label for="exampleFormControlInput1" class="form-label"><%=detail.voiture.matricule%></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Unité</th>
                            <th scope="col">PU HT</th>
                            <!--<th scope="col">Totale HT</th>-->
                            <th scope="col">TVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var id=0;id<diagnostiques.length;id++){%>
                            <tr>
                                <td> <span role="button" data-bs-toggle="modal" data-bs-target="#edit<%=diagnostiques[id]._id%>"><i class="fa fa-edit text-primary"></i> <%=diagnostiques[id].title%></span> </td>
                                <td><%=diagnostiques[id].qte%></td>
                                <td><%=diagnostiques[id].unite%></td>
                                <td><%=diagnostiques[id].pu%>Ar</td>
                                <td><%=diagnostiques[id].tva%>%</td>
                            </tr>

                            <div class="modal fade" id="edit<%=diagnostiques[id]._id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modification de "<%=diagnostiques[id].title%>"</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <div class="mb-3 mt-3">
                          
                                                    <label for="exampleFormControlInput1"
                                                        class="form-label">Description</label>
                                                    <input type="text" class="form-control"
                                                        id="titlefact<%=diagnostiques[id]._id%>" name="titlefact<%=diagnostiques[id]._id%>"
                                                        required value="<%=diagnostiques[id].title%>"
                                                        placeholder="Tâches">
                                                    
                                                </div>
                                             
                                               
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Quantité
                                                            </label>
                                                            <input type="number"
                                                                class="form-control"
                                                                id="qtefact<%=diagnostiques[id]._id%>" name="qtefact<%=diagnostiques[id]._id%>" min="0"
                                                                required value="<%=diagnostiques[id].qte%>"
                                                                placeholder="Quantité">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Unité
                                                            </label>
                                                            <input type="text"
                                                                class="form-control"
                                                                id="unitefact<%=diagnostiques[id]._id%>" name="unitefact<%=diagnostiques[id]._id%>" 
                                                                required value="<%=diagnostiques[id].unite%>"
                                                                placeholder="Unité">
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">PU HT
                                                            </label>
                                                            <input type="number"
                                                                class="form-control"
                                                                id="montantfact<%=diagnostiques[id]._id%>" name="montantfact<%=diagnostiques[id]._id%>"
                                                                required value="<%=diagnostiques[id].pu%>"
                                                                placeholder="En Ar">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">TVA
                                                            </label>
                                                            <input type="number"
                                                                class="form-control"
                                                                id="tvafact<%=diagnostiques[id]._id%>" name="tvafact<%=diagnostiques[id]._id%>" min="0"
                                                                required value="<%=diagnostiques[id].tva%>"
                                                                placeholder="Unité">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                               
                                                 
                                          </div>
                                          <div class="modal-footer d-flex justify-content-between">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="edit_facture_diagnostique" data-bs-dismiss="modal" onclick='edit_facture_diagnostique(<%=JSON.stringify(diagnostiques[id]._id)%>)' class="btn btn-primary">Modifier</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                        <%}%>
                        
                        <!--<tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="20"/>%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="20"/>%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="10"/>%</td>
                        </tr>-->
                    </tbody>
                </table>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary py-3" onclick="save_new_facture(<%=JSON.stringify(detail._id)%>)" id="save_new_facture">Validé la facture</button>
                </div>
            </div>
        </div>
        
     
         <%-
            include('../../includes/footer_responsable_financier')
            %>